#block-yahoo-gravity-yahoo-gravity {
    margin:0;padding:0;
}
#block-yahoo-gravity-yahoo-gravity ul {
    list-style-type:none;list-style:none;
    margin:0;padding:0;
}
#block-yahoo-gravity-yahoo-gravity li {
    margin:0;padding:0;
}
.yahoo-support .yahoo-contact-name {
    font-size:11px;
}
.yahoo-support .yahoo-contact-support {
    margin: 0;padding: 0;
}