/** Omega template css content table */
@font-face {
  font-family: Chuky;
  src: url(/sites/all/themes/monkey/fonts/UVNChuky.TTF);
}
@font-face {
  font-family: ThangGieng;
  src: url(/sites/all/themes/monkey/fonts/UVNThangGieng_R.TTF);
}
@font-face {
  font-family: Bale;
  src: url(/sites/all/themes/monkey/fonts/UVNBaLe.TTF);
}
@font-face {
  font-family: MyriadPro;
  src: url(/sites/all/themes/monkey/fonts/MyriadPro-Regular.otf);
}
body {
  font-family: 'Tahoma', Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 19px;
}
a:link,
a:hover,
a:visited {
  text-decoration: none;
}
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  background: #fefefe;
  background: -webkit-linear-gradient(90deg,#fefefe 30%,#efefef 70%);
  background: -moz-linear-gradient(90deg,#fefefe 30%,#efefef 70%);
  background: -ms-linear-gradient(90deg,#fefefe 30%,#efefef 70%);
  background: -o-linear-gradient(90deg,#fefefe 30%,#efefef 70%);
  background: linear-gradient(180deg,#fefefe 30%,#efefef 70%);
  border: 1px solid #D3D3D3;
  border-radius: 15px;
  height: 26px;
}
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background: #0098cd;
  background: -webkit-linear-gradient(90deg,#0098cd 30%,#00689e 70%);
  background: -moz-linear-gradient(90deg,#0098cd 30%,#00689e 70%);
  background: -ms-linear-gradient(90deg,#0098cd 30%,#00689e 70%);
  background: -o-linear-gradient(90deg,#0098cd 30%,#00689e 70%);
  background: linear-gradient(180deg,#0098cd 30%,#00689e 70%);
  padding: 4px 11px 5px;
  color: #FFFFFF;
  border: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: MyriadPro;
}
input {
  text-shadow: none !important;
  box-shadow: none !important;
}
p {
  color: #2D2C2C;
  margin-bottom: 10px;
}
#section-header {
  margin-top: 15px;
}
#zone-user {
  margin-bottom: 30px;
}
body.front #zone-header-wrapper {
  background: url(/sites/all/themes/monkey/images/imgs.png) no-repeat 0 -341px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.front #zone-header {
  height: 445px;
}
body.not-front #zone-footer-wrapper {
  background: url(/sites/all/themes/monkey/images/imgs.png) no-repeat 0 -938px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.not-logged-in #region-content .region-content-inner > .tabs {
  display: none;
  visibility: hidden;
}
#region-footer-first {
  border-bottom: 1px solid #D3D3D3;
  padding-bottom: 15px;
}
body.not-front #region-footer-first {
  padding-top: 50px;
}
#block-system-main-menu .content {
  background: url(/sites/all/themes/monkey/images/imgs.png) no-repeat -9px -8px;
  width: 698px;
  height: 92px;
  position: relative;
}
#block-system-main-menu .content ul.menu {
  left: 60px;
  position: absolute;
  top: 30px;
}
#block-system-main-menu .content li {
  display: inline-block;
  list-style-image: none;
  list-style-type: none;
}
#block-system-main-menu .content a {
  font-weight: normal;
  color: #517CC5;
  font-family: Chuky;
  font-size: 22px;
}
#block-system-main-menu .content a.active {
  color: #FFFC01;
  text-shadow: 1px 1px 2px #969696;
}
#block-system-main-menu .content a:hover {
  color: #FFFC01;
  text-shadow: 1px 1px 2px #969696;
}
#block-views-slide-show-pc-block {
  margin: 0 0 50px;
}
#block-views-slide-show-pc-block .views-row {
  position: relative;
  height: 345px;
}
#block-views-slide-show-pc-block .views-field-name {
  margin-bottom: 26px;
  width: 460px;
}
#block-views-slide-show-pc-block .views-field-name a {
  font-weight: normal;
  color: #517CC5;
  font-family: Chuky;
  font-size: 22px;
  text-transform: uppercase;
}
#block-views-slide-show-pc-block .views-field-name a:hover {
  color: #FFFC01;
  text-shadow: 1px 1px 2px #969696;
}
#block-views-slide-show-pc-block .views-field-field-pc-introduction {
  color: #2D2C2C;
  font-family: Chuky;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 26px;
  width: 460px;
}
#block-views-slide-show-pc-block .views-field-name-1 {
  font-family: Chuky;
  font-size: 20px;
  width: 460px;
}
#block-views-slide-show-pc-block .views-field-name-1 a {
  font-weight: normal;
  color: #517CC5;
  padding-right: 18px;
}
#block-views-slide-show-pc-block .views-field-name-1 a:hover {
  color: #FFFC01;
  text-shadow: 1px 1px 2px #969696;
}
#block-views-slide-show-pc-block .views-field-name-1 a:hover {
  background: url(/sites/all/themes/monkey/images/imgs.png) no-repeat -1107px -59px;
}
#block-views-slide-show-pc-block .views-field-field-pc-image {
  left: 480px;
  position: absolute;
  top: 0px;
}
#block-views-product-block-3 .content {
  background: url(/sites/all/themes/monkey/images/imgs.png) no-repeat -18px -111px;
  height: 178px;
}
#block-views-product-block-3 .jcarousel-container-horizontal {
  padding: 9px 40px;
  width: 840px;
}
#block-views-product-block-3 .jcarousel-prev-horizontal {
  background: url(/sites/all/themes/monkey/images/imgs.png) no-repeat -1082px -2px;
}
#block-views-product-block-3 .jcarousel-clip-horizontal {
  width: 840px;
}
#block-views-product-block-3 .jcarousel-next-horizontal {
  background: url(/sites/all/themes/monkey/images/imgs.png) no-repeat -1112px -3px;
}
#block-views-product-block-3 .jcarousel-item {
  background: transparent;
  border: none;
  height: 138px;
}
#block-views-product-block-3 .jcarousel-item .field-content {
  margin: 0 auto;
  width: 140px;
}
#block-views-our-service-block {
  height: 210px;
}
#block-views-our-service-block .views-row {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  color: rgba(0,0,0,0.25);
  background-color: rgba(0,0,0,0.25);
  background: rgba(0,0,0,0.25);
  float: left;
  height: 150px;
  margin: 0 10px;
  padding: 20px 15px;
  position: relative;
  width: 270px;
}
#block-views-our-service-block .views-row:first-child {
  margin-left: 0;
}
#block-views-our-service-block .views-row:last-child {
  margin-right: 0;
}
#block-views-our-service-block .views-field-title {
  color: #FFFFFF;
  font-family: Chuky;
  font-size: 18px;
  height: 32px;
  text-align: center;
  text-transform: uppercase;
}
#block-views-our-service-block .views-field-field-service-image {
  float: left;
  margin: 0 15px 15px 0;
}
#block-views-our-service-block .views-field-field-service-image img {
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  border-radius: 52px;
  border: 1px solid #FFFFFF;
  padding: 1px;
  width: 105px;
}
#block-views-our-service-block .views-field-body p {
  color: #FFFFFF;
  font-family: Arial;
  font-size: 12px;
  line-height: 19px;
}
#block-views-our-service-block .views-field-view-node {
  clear: left;
  background: url(/sites/all/themes/monkey/images/imgs.png) no-repeat -718px -57px;
  left: 50px;
  padding: 9px 0;
  position: absolute;
  text-align: center;
  top: 170px;
  width: 200px;
}
#block-views-our-service-block .views-field-view-node a {
  color: #517CC5;
  font-family: Chuky;
  font-size: 20px;
}
#block-views-contact-address-block-1 {
  margin-bottom: 20px;
}
#block-views-contact-address-block-1 .views-field-field-company-introduction {
  color: #2D2C2C;
  font-family: Chuky;
  font-size: 18px;
  font-style: normal;
  line-height: 19px;
  text-align: right;
}
#block-multiblock-2 {
  margin-bottom: 30px;
}
#block-multiblock-2 .content li {
  list-style-image: none;
  list-style-type: none;
  text-align: right;
  margin: 0;
  padding: 0;
}
#block-multiblock-2 .content li a {
  color: #517CC5;
  background: url(/sites/all/themes/monkey/images/imgs.png) no-repeat -949px -58px;
  display: block;
  font-family: Chuky;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: -0.02em;
  height: 24px;
  margin-top: -1px;
  padding: 10px 32px 6px 0;
}
#block-multiblock-2 .content li a.active {
  color: #FFFC01;
  text-shadow: 1px 1px 2px #969696;
}
#block-multiblock-2 .content li a:hover {
  color: #FFFFFF;
  background: url(/sites/all/themes/monkey/images/imgs.png) no-repeat -775px -7px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
#block-multiblock-2 .content > ul > li.leaf a {
  background: transparent;
}
#block-multiblock-2 .content > ul > li.leaf a:hover {
  color: #FFFFFF;
  background: url(/sites/all/themes/monkey/images/imgs.png) no-repeat -775px -7px transparent;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
#block-blockify-blockify-page-title #page-title {
  color: #517CC5;
  font-family: MyriadPro;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 32px;
  margin-bottom: 0;
  text-transform: uppercase;
}
#block-blockify-blockify-breadcrumb .block-inner {
  border-bottom: 1px solid #D3D3D3;
  margin-bottom: 15px;
}
#block-blockify-blockify-breadcrumb .content a {
  color: #2D2C2C;
}
#block-blockify-blockify-breadcrumb .content a:hover {
  color: #517CC5;
}
#block-blockify-blockify-breadcrumb .content .breadcrumb {
  color: #2D2C2C;
}
body.page-all-product #block-system-main .content,
body.page-our-service #block-system-main .content,
body.page-taxonomy-term- #block-system-main .content {
  padding: 0 0 15px;
}
body.page-all-product #block-system-main .views-field-view-node,
body.page-our-service #block-system-main .views-field-view-node,
body.page-taxonomy-term- #block-system-main .views-field-view-node {
  margin-bottom: 20px;
}
#block-system-main .node-product .field-label {
  margin-right: 5px;
}
#block-system-main .node-product .product-info-label,
#block-system-main .node-product .uc-price-label {
  font-weight: bold;
}
#block-system-main .node-product .field-name-uc-product-image {
  border: 1px solid #D3D3D3;
  float: left;
  margin: 0 15px 10px 0;
  padding: 3px;
  width: 311px;
}
#block-system-main .node-product .field-name-title-field .field-item {
  color: #517CC5;
  font-family: MyriadPro;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}
#block-system-main .node-product .product-info,
#block-system-main .node-product .field-name-field-product-order-type {
  margin-right: 0;
  padding: 5px 0 0;
}
#block-system-main .node-product .add-to-cart {
  margin-right: 0;
  padding: 5px 0 0;
}
#block-system-main .node-product .add-to-cart .form-actions {
  margin: 0;
}
#block-system-main .node-product .field-name-fblikebutton-ds-field {
  margin-right: 0;
  padding: 10px 0 0;
}
#block-system-main .node-product .field-name-body {
  clear: left;
  padding-bottom: 15px;
}
#block-system-main .node-product .field-name-body p {
  color: #2D2C2C;
}
#block-system-main .item-list {
  clear: both;
  text-align: center !important;
}
.block-views-product-block-2 .block-title {
  color: #517CC5;
  font-family: MyriadPro;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 32px;
  text-transform: uppercase;
}
.block-views-product-block-2 .content {
  padding-bottom: 12px;
}
.block-views-product-block-2 .views-row {
  padding: 0 10px 8px;
  text-align: center;
  width: 220px;
  float: left;
}
.block-views-product-block-2 .views-row:nth-child(3n+1) {
  padding: 0 10px 8px 0;
}
.block-views-product-block-2 .views-row:nth-child(3n) {
  padding: 0 0 8px 10px;
}
.block-views-product-block-2 .views-row .views-field-field-service-image,
.block-views-product-block-2 .views-row .views-field-uc-product-image {
  border: 1px dashed #D3D3D3;
  padding: 3px 2px;
  margin-bottom: 3px;
}
.block-views-product-block-2 .views-row .views-field-title {
  height: 39px;
  padding-top: 5px;
}
.block-views-product-block-2 .views-row .views-field-title a {
  color: #2D2C2C;
  display: block;
  font-family: Chuky;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  text-transform: uppercase;
}
.block-views-product-block-2 .views-row .views-field-title a:hover {
  color: #517CC5;
}
.block-views-product-block-2 .views-row .views-field-body {
  border-bottom: 1px solid #D3D3D3;
  padding-bottom: 15px;
}
.block-views-product-block-2 .views-row .views-field-body .field-content {
  height: 80px;
}
.block-views-product-block-2 .views-row .views-field-body p {
  text-align: left;
  margin-bottom: 0;
}
.block-views-product-block-2 .views-row .views-field-view-node {
  margin-top: 10px;
  padding: 4px 0;
  text-align: right;
}
.block-views-product-block-2 .views-row .views-field-view-node a {
  color: #FFFFFF;
  background: url(/sites/all/themes/monkey/images/imgs.png) no-repeat -999px -7px;
  font-size: 15px;
  font-weight: bold;
  padding: 3px 12px 3px 37px;
  text-shadow: 1px 1px 2px #969696;
}
#block-views-product-block-4 {
  border-top: 1px solid #D3D3D3;
}
#block-views-product-block-4 .block-title {
  padding: 15px 0;
}
#block-views-contact-address-block .views-row {
  position: relative;
}
#block-views-contact-address-block .views-field {
  color: #2D2C2C;
  margin: 10px 0;
  width: 460px;
}
body.not-front #block-views-contact-address-block .views-field {
  color: #FFFFFF;
}
#block-views-contact-address-block .views-label {
  float: left;
  font-weight: bold;
  margin-right: 5px;
}
#block-views-contact-address-block .views-field-title {
  color: #517CC5;
  font-family: Chuky;
  font-size: 19px;
  margin-bottom: 20px;
  text-align: center;
}
#block-views-contact-address-block .views-field-field-company-overview {
  color: #2D2C2C;
  margin: 10px 0;
}
#block-views-contact-address-block .views-field-field-company-phone {
  color: #2D2C2C;
  font-size: 26px;
  font-style: normal;
  font-weight: normal;
  margin: 10px 0;
}
#block-views-contact-address-block .views-field-field-company-maps {
  left: 478px;
  margin: 0;
  padding: 15px;
  position: absolute;
  top: 0;
  width: 430px;
}
#block-views-contact-address-block .views-field-field-company-maps .geolocation-map {
  margin: 0;
  padding: 0;
}
body.front #block-views-contact-address-block .views-field-field-company-maps {
  border: 1px solid #D3D3D3;
}
body.not-front #block-views-contact-address-block .views-field-field-company-overview,
body.not-front #block-views-contact-address-block .views-field-field-company-location,
body.not-front #block-views-contact-address-block .views-field-field-company-fax,
body.not-front #block-views-contact-address-block .views-field-field-company-email {
  font-weight: bold;
}
body.not-front #block-views-contact-address-block .views-field-field-company-maps {
  background: #F0F0F0;
}
body.not-front #block-views-contact-address-block .views-field-field-company-maps .geolocation-map {
  border: 1px solid #D3D3D3;
}
#block-fblikebutton-fblikebutton-static-block {
  width: 460px;
}
#block-block-1 {
  margin: 10px 0;
}
.pager {
  display: inline-block !important;
  background: #FFFFFF;
  border: none;
}
.pager li {
  border: 1px solid #517CC5 !important;
  margin: 0 2px !important;
  border-radius: 0;
}
.pager li.pager-first {
  border-radius: 0;
}
.pager li.pager-previous a {
  width: 70px;
}
.pager li.pager-ellipsis {
  visibility: hidden;
  display: none;
}
.pager li.pager-next {
  position: static;
}
.pager li.pager-last {
  position: static;
  border-radius: 0;
}
.pager li.pager-current {
  background: #517CC5;
  border-radius: 0;
}
.pager li a {
  color: #517CC5;
  background: transparent;
  border-radius: 0 !important;
}
.pager li a:hover {
  background: #517CC5;
  border-radius: 0 !important;
  color: #FFFFFF;
}
